<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bankapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankApp">
        <activity android:name=".Activities.TransactionActivity" />
        <activity
            android:name=".Activities.LoanActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Activities.InsuranceActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Activities.UserHome"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Activities.AdminActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Activities.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>